@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Parisienne&display=swap');



body{
    font: normal, 1em, 'Times News Roman' sans-serif;
    
}

h1{
    font-family: 'Parisienne', Times, serif;
    font-size: 3em;

}

h2{
    font-family: 'Fredericka the Great', cursive;


}