@charset "UTF-8";

body{

    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 1em; /*tamanho, 16px = 1em*/
    
    font-weight: normal;/* peso da fonte*/
    
    font-style: italic; 

    text-decoration: underline ;/* sublinhado*/
}

h1 {

    font-family: 'Times New Roman', Times, serif;

    font-size: 3em;

    font-weight: bolder;

    

}

h2{

    font: normal 2em 'Work Sans';
}

    /* shothand -> font: italic bolder 3emo ' Times New Roman' */
    /* sequencia : font style, font weight, font size -> font family */