@charset "UTF-8";



body{
    font-family: Arial, Helvetica, sans-serif;
    
}

table{
    width: 600px;
    border-collapse: collapse;
    position: relative; /*para deixar o head fixo*/
}

thead > tr > th{ /*head fixo*/
    position: sticky;
    top: -1px;
    background-color: gray;

}

td,th{
    border: 1px black solid;
    padding: 8px;
   
}

thead, tfoot{
    background-color: gray;
    color: white;
}
.num{
    text-align: right;
}

tbody > tr:nth-child(2n){ /*efeito zebrado*/
    background-color: rgba(127, 255, 212, 0.397);
}